@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Raleway';
    margin: 0;
    background-color: #000000;
}

@media only screen and (max-width: 600px) {
    header h1{
        font-size:x-large; /* Adjust font size for smaller screens */
    }

    header img{
        padding-bottom: 10px;

    }

    header form{
        display: none;
    }
  }


header{
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: #1b2c50;
}

header form{
    padding:3%;
    width: fit-content;
    margin: 20px;
    padding: 20px;
    padding-top:25px;

    min-width: 10px;
    min-height: 10px;
}

header img{
    max-height: 125px;
    max-width: 125px;
    margin-left: 50px;
    padding-top: 20px
}

header h1{
    font-weight: lighter;
    color: white;

    margin: 20px;
    padding: 20px;
    padding-top:30px;
   
    position: relative;
}

.search{
    border: 5px solid #FCA311;
    border-radius: 25px;
    background: #E5E5E5;
    outline: none;
    padding: 17px;
    color: black;
    font-family: 'Raleway';
    font-size: large;
    text-align: center;
}

.search:hover
{
    box-shadow: 0px 0px 20px #FCA311
}

::placeholder{
    color: black;
}

main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

@keyframes mangaAni{
   0%  {background-color: #19284c;}
  50%  {background-color: #253b6c;}
  100% {background-color: #19284c;}
}

.manga{
    margin: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    width: 265px;
    animation-name: mangaAni;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    box-shadow: -1px -1px 10px #1f325c;
}
.manga-info{
    margin-top: 10px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

h3{
    margin-top: 0;
    margin-bottom: -10px;
}

.manga img{
    width: 225px;
    height: 307px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px #FFFFFF;
}

.manga img:hover{
    box-shadow: 0px 0px 20px #FCA311;
}

.manga-info span{
    font-weight: bold;
}

/*
.manga-details{
    position: absolute;
    word-break: break-all;
    visibility: hidden;
    padding: 15px;
    background-color: #FFFFFF;
    max-height: 100%;
    max-width: 260px;
    margin-top: -300px;
    justify-content: center;
    transform: translateY(101%);
}


.manga:hover .manga-details{
    transform: translateY(0%);
    visibility: visible;
}
*/