@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Raleway';
    margin: 0;
    background-color: #000000;
}

header{
    padding: 30px;
    display: flex;
    justify-content: flex-end;
    background-color: #1b2c50;
}

.search{
    border: 5px solid #FCA311;
    border-radius: 25px;
    background: #E5E5E5;
    outline: none;
    padding: 17px;
    color: black;
    font-family: 'Raleway';
    font-size: large;
    text-align: center;
}

::placeholder{
    color: black;
}

main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

@keyframes mangaAni{
   0%  {background-color: #19284c;}
  50%  {background-color: #253b6c;}
  100% {background-color: #19284c;}
}

.manga{
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
    width: 300px;
    animation-name: mangaAni;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    box-shadow: -1px -1px 10px #1f325c;
}

.manga-info{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

h3{
    margin-top: 0;
}

.manga img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px #FFFFFF;
}

.manga img:hover{
    box-shadow: 0px 0px 20px #FCA311;
}

.manga-info span{
    font-weight: bold;
}

/*
.manga-details{
    position: absolute;
    word-break: break-all;
    visibility: hidden;
    padding: 15px;
    background-color: #FFFFFF;
    max-height: 100%;
    max-width: 260px;
    margin-top: -300px;
    justify-content: center;
    transform: translateY(101%);
}


.manga:hover .manga-details{
    transform: translateY(0%);
    visibility: visible;
}
*/